@model FurnitureWizardDemo.Models.MainMenu


@{
    ViewBag.Title = Model.Option;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Option</h2>

<div>
    <form>
        <input type="text" placeholder="search"/>
        <input type="submit" />
    </form>
</div>